.form-button {
	background: #53c79e;
	border-radius: 20px;
	letter-spacing: 0.05em;
	color: #ffffff;
	font-family: 'Tauri';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	border: none;
	padding: 14px;
	cursor: pointer;
	width: 100%;
}
